.dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.allChartContainer{
    margin-top: 50px;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.allChartContainer .ChartContainer{
    margin: 20px;
}